<div id="js--career-list" class="py-3 continer">
    {% if site.dw_careers.size > 0 %}
    <div class="d-flex justify-content-center">
        <ul class="text-center" style="list-style: none; margin: 0; padding: 0;">
            {% for e in site.dw_careers %}
            <li class="py-3">
                <a href="{{ e.link }}">
                    <span title="{{ e.title }}" style="color: #fff;">{{ e.title }} | {{ e.city }}</span>  
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
