<div id="js--career-list" class="py-3 continer">
    {% if site.dw_careers.size > 0 %}
    <div class="row justify-content-center">
        <ul style="list-style: none;">
            {% for e in site.dw_careers %}
            <li class="py-3">
                <a href="{{ e.link }}">
                    <div>
                        <span title="{{ e.title }}" style="color: #fff;">{{ e.title }}</span><br>
                        {% if e.city != blank %}
                        <span style="color: #fff;"> {{ e.city }} </span>
                        {% endif %}
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
